
<html>
<head>
    <style>
        .text-center {
            text-align: center; 
        }

        .box-container {
            display: flex; 
            justify-content: center;
        }

        .box {
            width: 400px;
            height: 300px;
            border: 1px solid;
            text-align: center;
            margin: 10px; 
        }
    </style>
</head>
<body>
    <div class="aboutH1">
        <h1 class="display-4">The Timewize Team</h1>
    </div>
    <div class="box-container">
        <div class="box">
            <img src="~/images/person.jpg" alt="Bin Photo">
            <h2>Bin Yang</h2>
            <p>Project Manager, Software Developer</p>

        </div>
        <div class="box">
            <img src="~/images/person.jpg" alt="Romnick Photo">
            <h2>Romnick Zinampan</h2>
            <p>Software Developer</p>
        </div>
        <div class="box">
            <img src="~/images/person.jpg" alt="James Photo">
            <h2>James Arand</h2>
            <p>Software Developer</p>
        </div>
    </div>
    </br>
    </br>

    <div class="contactus">
        <p>If you have any questions or comments, please Contact Us at TimeWizeCapstone@gmail.com</p>
    </div>
    
</body>
</html>

